.content {
  display: grid;
  /* tamanho das colunas */
  grid-template-columns: 60% 40%;
  /* 11.4rem = header - 1fr = restante*/
  grid-template-rows: 11.4rem 1fr;

  grid-template-areas:
    "header header"
    "left right";
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  /* top/contain fixa a imagem no top e determina que fique dentro da div */
  background: url("/images/home-bg-img.svg") no-repeat top/contain;
  /* usamos o background-position quando precisamos mover só a imagem*/
  /* se usarmos margin iremos mover a div inteira */
  background-position-x: -10rem;
}

main {
  grid-area: right;
  display: flex;
  align-items: center;
  margin-top: -12rem;
}

main .container {
  /* min = pega o menor valor para o width (36.3rem ou 100%)*/
  width: min(36.3rem, 100%);
}

main h2 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  /* intervalo de tamanho */
  /* define tamanhos para a font (20px min, 5vw med, 2.8rem max)*/
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
  font-weight: 700;
}

input {
  border: 0.2rem solid var(--grey-blue);
  padding: 0 1.6rem;
  outline: none;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}

/* separator line */
.separator {
  display: flex;
  align-items: center;

  margin: 4rem 0;
}

.separator div:nth-child(2) {
  color: var(--grey-blue);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 1.35rem;
  line-height: 0;
}

/* nth-child() mostramos quais "filhos" da div separator queremos usar */
/*
<div class="separator"> (PAI)
  <div></div> (FILHO 1)
  <div>ou</div> (FILHO 2)
  <div></div> (FILHO 3)
</div>
*/

.separator div:nth-child(1),
.separator div:nth-child(3) {
  background: var(--grey-blue);
  width: 100%;
  height: 1px;
}

/* balls */
.ball {
  width: 21.2rem;
  height: 21.2rem;

  background: var(--blue);
  clip-path: circle();

  position: fixed;

  opacity: 0.1;
}

.ball.top {
  width: 63.3rem;
  height: 63.3rem;

  top: -45rem;
  right: -35rem;
}

.ball.bottom {
  bottom: -15rem;
  right: 5.6rem;
}
