.content {
  display: grid;
  /* tamanho das colunas */
  grid-template-columns: 60% 40%;
  /* 11.4rem = header - 1fr = restante*/
  grid-template-rows: 11.4rem 1fr;

  grid-template-areas:
    "header header"
    "left right";
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  /* top/contain fixa a imagem no top e determina que fique dentro da div */
  background: url("/assets/home-bg-img.svg") no-repeat top/contain;
}

main {
  grid-area: right;

  display: flex;
  align-items: center;
}

main .container {
  /* min = pega o menor valor para o width (36.3rem ou 100%)*/
  width: min(36.3rem, 100%);
}

main h2 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  /* intervalo de tamanho */
  /* define tamanhos para a font (20px min, 5vw med, 2.8rem max)*/
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
  font-weight: 700;
}

input {
  border: 0.2rem solid var(--grey-blue);
  padding: 0 1.6rem;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}
